header{
    position: relative;
    background-color: rgb(30, 135, 255);
    background-image: url(img/pattern.png);
    height: 180px;
}

header > img.logo{
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}